<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.warehouseProject.models.City" alias="City"/>
        <typeAlias type="com.solvd.warehouseProject.models.Company" alias="Company"/>
        <typeAlias type="com.solvd.warehouseProject.models.Country" alias="Country"/>
        <typeAlias type="com.solvd.warehouseProject.models.Driver" alias="Driver"/>
        <typeAlias type="com.solvd.warehouseProject.models.Location" alias="Location"/>
        <typeAlias type="com.solvd.warehouseProject.models.Order" alias="Order"/>
        <typeAlias type="com.solvd.warehouseProject.models.OrderDetail" alias="OrderDetail"/>
        <typeAlias type="com.solvd.warehouseProject.models.Phone" alias="Phone"/>
        <typeAlias type="com.solvd.warehouseProject.models.Product" alias="Product"/>
        <typeAlias type="com.solvd.warehouseProject.models.ProductCategory" alias="ProductCategory"/>
        <typeAlias type="com.solvd.warehouseProject.models.Route" alias="Route"/>
        <typeAlias type="com.solvd.warehouseProject.models.Truck" alias="Truck"/>
        <typeAlias type="com.solvd.warehouseProject.models.Warehouse" alias="Warehouse"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="${driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${user}"/>
            <property name="password" value="${pass}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/CityMapper.xml"/>
        <mapper resource="mappers/CompanyMapper.xml"/>
        <mapper resource="mappers/CountryMapper.xml"/>
        <mapper resource="mappers/DriverMapper.xml"/>
        <mapper resource="mappers/LocationMapper.xml"/>
        <mapper resource="mappers/OrderDetailMapper.xml"/>
        <mapper resource="mappers/OrderMapper.xml"/>
        <mapper resource="mappers/PhoneMapper.xml"/>
        <mapper resource="mappers/ProductCategoryMapper.xml"/>
        <mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/RouteMapper.xml"/>
        <mapper resource="mappers/TruckMapper.xml"/>
        <mapper resource="mappers/WarehouseMapper.xml"/>
    </mappers>
</configuration>