<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.ICompanyDAO">
    <resultMap id="CompanyResultMap" type="Company" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="get" resultMap="CompanyResultMap">
        <![CDATA[
            SELECT * FROM Companies WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Companies (name)
            VALUES (#{name})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Companies
            SET name = #{name} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Companies WHERE id=#{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="CompanyResultMap">
        <![CDATA[
            SELECT * FROM Companies;
        ]]>
    </select>
</mapper>