<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.ICompanyDAO">
    <resultMap id="CompanyMap" type="Company" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="trucks" ofType="Truck"  resultMap="com.solvd.warehouseProject.daos.ITruckDAO.TruckMap" columnPrefix="trucks_"/>
    </resultMap>
</mapper>