<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IDepositDAO">
    <resultMap id="DepositResultMap" type="Deposit" autoMapping="false">
        <result property="volumeDeposited" column="volume"/>
        <association property="warehouse" resultMap="com.solvd.warehouseProject.daos.IWarehouseDAO.WarehouseResultMap"/>
        <association property="orderDetail" resultMap="com.solvd.warehouseProject.daos.IOrderDetailDAO.OrderDetailResultMap"/>
    </resultMap>
    <select id="get" resultMap="DepositResultMap">
        <![CDATA[
            SELECT * FROM Deposits WHERE warehouses_id = #{warehouse.id} AND orders_details_id = #{orderDetail.id}
        ]]>
    </select>
    <insert id = "insert">
        <![CDATA[
            INSERT INTO Deposits (warehouses_id, orders_details_id, volume)
            VALUES (#{warehouse.id},#{orderDetail.id},#{volumeDeposited})
        ]]>
    </insert>
</mapper>