<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IDriverDAO">
    <resultMap id="DriverResultMap" type="Driver" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="birthday" column="birth"/>
        <collection property="phones" ofType="Phone"  resultMap="com.solvd.warehouseProject.daos.IPhoneDAO.PhoneResultMap" columnPrefix="maps_"/>
    </resultMap>
    <select id="get" resultMap="DriverResultMap">
        <![CDATA[
            SELECT * FROM Drivers WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Companies (first_name, last_name, age, birth)
            VALUES (#{firstName}, #{lastName}, #{age}, #{birthday})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Drivers
            SET first_name = #{firstName}, last_name = #{lastName}, age = #{age}, birth = #{birthday} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Drivers WHERE id=#{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="DriverResultMap">
        <![CDATA[
            SELECT * FROM Drivers;
        ]]>
    </select>
</mapper>