<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IOrderDAO">
    <resultMap id="OrderResultMap" type="Order" autoMapping="false">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="totalVolume" column="total_volume"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>
    <select id="get" resultMap="OrderResultMap">
        <![CDATA[
            SELECT * FROM Orders WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Orders (date, total_volume, total_price)
            VALUES (#{date}, #{totalVolume}, #{totalPrice})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Orders
            SET date = #{date}, total_volume = #{totalVolume}, total_price = #{totalPrice}, trucks_id = #{truck.id} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Orders WHERE id=#{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="OrderResultMap">
        <![CDATA[
            SELECT * FROM Orders
        ]]>
    </select>
    <update id="updateVolume">
        <![CDATA[
            UPDATE Orders o SET total_volume = (SELECT SUM(subtotal_volume) FROM Orders_Details od WHERE od.orders_id = o.id) WHERE o.id = #{id}
        ]]>
    </update>
    <update id="updatePrice">
        <![CDATA[
            UPDATE Orders o SET total_price = (SELECT SUM(subtotal_price) FROM Orders_Details od WHERE od.orders_id = o.id) WHERE o.id = #{id}
        ]]>
    </update>
    <update id="addToTruck">
        <![CDATA[
            UPDATE Orders SET trucks_id = #{truck.id} WHERE id = #{order.id}
        ]]>
    </update>
    <select id="getAllByTruckId" resultMap="OrderResultMap">
        <![CDATA[
            SELECT * FROM Orders WHERE trucks_id = #{id}
        ]]>
    </select>
</mapper>