<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IProductDAO">
    <resultMap id="ProductResultMap" type="Product" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="volume" column="volume"/>
        <result property="dueDate" column="due_date"/>
        <result property="price" column="price"/>
    </resultMap>
    <select id="get" resultMap="ProductResultMap">
        <![CDATA[
            SELECT * FROM Products WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Products (name, description, volume, due_date, price, product_categories_id)
            VALUES (#{name},#{description},#{volume},#{dueDate},#{price}, #{category.id})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Products
            SET name = #{name}, description = #{description}, volume = #{volume}, due_date = ${dueDate}, price = #{price}, product_categories_id = #{category.id} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Products WHERE id = #{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="ProductResultMap">
        <![CDATA[
            SELECT * FROM Products;
        ]]>
    </select>
    <select id="getByOrderDetailId" resultMap="ProductResultMap">
        <![CDATA[
            SELECT p.id, p.name, p.description, p.volume, p.due_date, p.price
            FROM Products p LEFT JOIN Orders_Details o
            ON p.id = o.products_id WHERE o.id = #{id}
        ]]>
    </select>
</mapper>