<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IProductCategoryDAO">
    <resultMap id="ProductCategoryResultMap" type="ProductCategory" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>
    <select id="get" resultMap="ProductCategoryResultMap">
        <![CDATA[
            SELECT * FROM Product_Categories WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Product_Categories (name, description)
            VALUES (#{name}, #{description})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Product_Categories
            SET name = #{name}, description = #{description} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Product_Categories WHERE id=#{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="ProductCategoryResultMap">
        <![CDATA[
            SELECT * FROM Product_Categories;
        ]]>
    </select>
</mapper>