<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.ITruckDAO">
    <resultMap id="TruckResultMap" type="Truck" autoMapping="false">
        <id property="id" column="id"/>
        <result property="capacity" column="capacity"/>
    </resultMap>
    <select id="get" resultMap="TruckResultMap">
        <![CDATA[
            SELECT * FROM Trucks WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Trucks (capacity)
            VALUES (#{capacity})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Trucks
            SET capacity = #{capacity} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Trucks WHERE id = #{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="TruckResultMap">
        <![CDATA[
            SELECT * FROM Trucks;
        ]]>
    </select>
    <update id="addToCompany">
        <![CDATA[
            UPDATE Trucks SET companies_id = #{company.id} WHERE id = #{truck.id}
        ]]>
    </update>
    <select id="getAllByCompanyId" resultMap="TruckResultMap">
        <![CDATA[
            SELECT * FROM Trucks WHERE companies_id = #{id}
        ]]>
    </select>
</mapper>