<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IWarehouseDAO">
    <resultMap id="WarehouseResultMap" type="Warehouse" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="totalCapacity" column="total_capacity"/>
        <result property="availableCapacity" column="available_capacity"/>
        <result property="daysToGetToWarehouse" column="days_to_get_to_warehouse"/>
    </resultMap>
    <select id="get" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Warehouses (name, total_capacity, available_capacity, days_to_get_to_warehouse, next_warehouses_id)
            VALUES (#{name}, #{totalCapacity}, #{availableCapacity}, #{daysToGetToWarehouse}, #{nextWarehouse.id})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Warehouses
            SET name = #{name}, total_capacity = #{totalCapacity}, available_capacity = #{availableCapacity},
            days_to_get_to_warehouse = #{daysToGetToWarehouse}, next_warehouses_id = #{nextWarehouse.id} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Warehouses WHERE id = #{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses;
        ]]>
    </select>
    <update id="addLocation">
        <![CDATA[
            UPDATE Warehouses SET locations_id = #{location.id} WHERE id = #{warehouse.id}
        ]]>
    </update>
    <update id="addToCompany">
        <![CDATA[
            UPDATE Warehouses SET companies_id = #{company.id} WHERE id = #{warehouse.id}
        ]]>
    </update>
    <update id="updateAvailableCapacity">
    <![CDATA[
            UPDATE Warehouses SET available_capacity = #{warehouse.availableCapacity} WHERE id = #{warehouse.id}
        ]]>
    </update>
    <select id="getByLocationId" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses WHERE locations_id = #{id}
        ]]>
    </select>
    <select id="getAllByCompanyId" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses WHERE companies_id = #{id}
        ]]>
    </select>
</mapper>