<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.warehouseProject.daos.IWarehouseDAO">
    <resultMap id="WarehouseResultMap" type="Warehouse" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="totalCapacity" column="total_capacity"/>
        <result property="availableCapacity" column="available_capacity"/>
        <result property="daysToNextWarehouse" column="days_to_next_warehouse"/>
        <association property="nextWarehouse" resultMap="com.solvd.warehouseProject.daos.IProductCategoryDAO.WarehouseResultMap"/>
        <collection property="orderDetails" ofType="OrderDetail"  resultMap="com.solvd.warehouseProject.daos.IOrderDetailDAO.OrderDetailResultMap" columnPrefix="order_details_"/>
    </resultMap>
    <select id="get" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses WHERE id = #{id}
        ]]>
    </select>
    <insert id = "insert" useGeneratedKeys = "true" keyProperty= "id">
        <![CDATA[
            INSERT INTO Warehouses (name, total_capacity, available_capacity, days_to_next_warehouse, next_warehouses_id)
            VALUES (#{name}, #{totalCapacity}, #{availableCapacity}, #{daysToNextWarehouse}, #{nextWarehouse.id})
        ]]>
    </insert>
    <update id="update">
        <![CDATA[
            UPDATE Warehouses
            SET name = #{name}, total_capacity = #{totalCapacity}, available_capacity = #{availableCapacity},
            days_to_next_warehouse = #{daysToNextWarehouse}, next_warehouses_id = #{nextWarehouse.id} WHERE id = #{id}
        ]]>
    </update>
    <delete id="delete">
        <![CDATA[
            DELETE FROM Warehouses WHERE id = #{id}
        ]]>
    </delete>
    <select id="getAll" resultMap="WarehouseResultMap">
        <![CDATA[
            SELECT * FROM Warehouses;
        ]]>
    </select>
</mapper>